.add_friend {
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: 10px;
}

.list_card_user {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: #242526;
    padding: 10px;
}

.list_card_user .header_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_card_user .header_card .title_card {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list_card_user .header_card .title_card img {
    width: 32px;
    height: 32px;
}

.list_card_user .header_card .title_card p {
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.list_card_user .header_card .action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.list_card_user .header_card .action span {
    padding: 5px;
}

.list_card_user .header_card .action:hover {
    background-color: #49494b;
    border-radius: 50%;
    cursor: pointer;
}

.list_card_user .card_user {
    width: 100%;
    height: 100%;
    background-color: #242526;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
}

.list_card_user .card_user .main_card {
    width: 95%;
    height: 120px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
}

.list_card_user .card_user .main_card:hover {
    background-color: #49494b;
}

.list_card_user .card_user .main_card .avatar_add {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_card_user .card_user .main_card .avatar_add img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list_card_user .card_user .main_card .main_text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}

.list_card_user .card_user .main_card .main_text .username_add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
}

.list_card_user .card_user .main_card .main_text .username_add .name {
    font-weight: bold;
}

.list_card_user .card_user .main_card .main_text .group_button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list_card_user .card_user .main_card .main_text .group_button button {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.list_card_user .card_user .main_card .main_text .group_button button.accept {
    background-color: #2d88ff;
    margin-right: 10px;
}

.list_card_user .card_user .main_card .main_text .group_button button.delete {
    background-color: #3a3b3c;
    margin-left: 10px;
}